@{
    ViewBag.WebShortName = "Ya";
    ViewBag.WebName = "YaSuo";
    ViewBag.MainTitle = "后台管理平台";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="Bookmark" href="favicon.ico" />
    <link rel="Shortcut Icon" href="favicon.ico" />

    <title>@ViewBag.Title @ViewBag.WebName@ViewBag.MainTitle</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/googfamily.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="~/Scripts/html5shiv.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/AdminLTE/js/adminlte.min.js"></script>

    <script src="~/Scripts/layout.js"></script>

</head>
<body class="hold-transition skin-red-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "Default")" class="logo">
                <span class="logo-mini"><b>@ViewBag.WebShortName</b></span>
                <span class="logo-lg"><b>@ViewBag.WebName</b>@ViewBag.MainTitle</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown messages-menu">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">0</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="pull-left">
                                                    <img src="~/Content/AdminLTE/img/avatar5.png" class="img-circle" alt="User Image" />
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="javascript:void(0);">See All Messages</a></li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">0</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="javascript:void(0);">View all</a></li>
                            </ul>
                        </li>
                        <li class="dropdown tasks-menu">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">0</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="javascript:void(0);">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/AdminLTE/img/avatar5.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">Alexander Pierce</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="~/Content/AdminLTE/img/avatar5.png" class="img-circle" alt="User Image" />
                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree" data-accordion="false">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="treeview active">
                        <a href="javascript:void(0);">
                            <i class="fa fa-share"></i>
                            <span>Default Demo</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active">
                                <a href="@Url.Action("Index", "Default")">
                                    <i class="fa fa-circle-o"></i>
                                    Index
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Details", "Default", new { Id = 51 })">
                                    <i class="fa fa-circle-o"></i>
                                    Details
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Default")">
                                    <i class="fa fa-circle-o"></i>
                                    Create
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Edit", "Default", new { Id = 51 })">
                                    <i class="fa fa-circle-o"></i>
                                    Edit
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="treeview active">
                        <a href="javascript:void(0);">
                            <i class="fa fa-share"></i>
                            <span>Default Demo</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active">
                                <a href="@Url.Action("Index", "Default")">
                                    <i class="fa fa-circle-o"></i>
                                    Index
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Details", "Default", new { Id = 51 })">
                                    <i class="fa fa-circle-o"></i>
                                    Details
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Default")">
                                    <i class="fa fa-circle-o"></i>
                                    Create
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Edit", "Default", new { Id = 51 })">
                                    <i class="fa fa-circle-o"></i>
                                    Edit
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </section>
        </aside>

        <div class="content-wrapper">
            <section class="content-header clearfix">
                <h1 class="pull-left">
                    @ViewBag.Title
                    @if (!string.IsNullOrWhiteSpace(ViewBag.TitleDesc))
                    {
                        <small>@ViewBag.TitleDesc</small>
                    }
                </h1>
                <div class="pull-right">
                    <a class="btn btn-warning btn-xs" href="javascript:location.back(-1);"><i class="fa fa-arrow-left"></i></a>
                    <a class="btn btn-success btn-xs" href="javascript:location.replace(location.href);"><i class="fa fa-refresh"></i></a>
                </div>
            </section>
            <section class="content container-fluid">
                @RenderBody()
            </section>
        </div>

    </div>




</body>

</html>
