@{
    ViewBag.Title = "Details";
    ViewBag.TitleDesc = "Details description";

}
@model YaSuo.AdminLTE.Models.AdminStaffModel
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Different Height</h3>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("Create", "Default", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off", id = "formSave" }))
                {
                    <div class="form-group">
                        <label class="col-md-2 control-label">Id</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(o => o.Id, new { @class = "form-control", placeholder = "Id" })
                            <span class="help-block"><i class="fa fa-bell-o"></i> Help block with warning</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Status</label>
                        <div class="col-md-10">
                            <div class="radio radio-primary radio-inline">
                                @Html.RadioButtonFor(o => o.Status, 1, new { id = "Status1", @class = "" })
                                <label for="Status1">启用</label>
                            </div>
                            <div class="radio radio-primary radio-inline">
                                @Html.RadioButtonFor(o => o.Status, 2, new { id = "Status2", @class = "" })
                                <label for="Status2">禁用</label>
                            </div>
                            <span class="help-block"><i class="fa fa-bell-o"></i> Help block with warning</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Sex</label>
                        <div class="col-md-10">
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input type="checkbox" class="styled" id="Sex1" name="Sex" value="true" />
                                <label for="Sex1">男</label>
                            </div>
                            <span class="help-block"><i class="fa fa-bell-o"></i> Help block with warning</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Account</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(o => o.Account, new { @class = "form-control ignore", placeholder = "Account" })
                            <span class="help-block"><i class="fa fa-bell-o"></i> Help block with warning</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Password</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(o => o.Password, new { @class = "form-control ignore", placeholder = "Password" })
                            <span class="help-block"><i class="fa fa-bell-o"></i> Help block with warning</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">PasswordConfirm</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(o => o.PasswordConfirm, new { @class = "form-control ignore", placeholder = "PasswordConfirm" })
                            <span class="help-block"><i class="fa fa-bell-o"></i> Help block with warning</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">DepartmentId</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(o => o.DepartmentId, null, new { @class = "form-control select2" })
                            <span class="help-block"><i class="fa fa-bell-o"></i> Help block with warning</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">RoleId</label>
                        <div class="col-md-10">
                            @Html.ListBoxFor(o => o.RoleId, null, new { @class = "form-control select2" })
                            <span class="help-block"><i class="fa fa-bell-o"></i> Help block with warning</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Birth</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(o => o.Birth, new { @class = "form-control ignore", placeholder = "Birth" })
                            <span class="help-block"><i class="fa fa-bell-o"></i> Help block with warning</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Descr</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(o => o.Descr, new { @class = "form-control", placeholder = "Descr" })
                            <span class="help-block"><i class="fa fa-bell-o"></i> Help block with warning</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-primary" onclick="">提交</button>
                            <button type="reset" class="btn btn-default">清除</button>
                        </div>
                    </div>
                }
            </div>
            <div class="box-footer clearfix">
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".select2").select2({ placeholder: "Select a state" });
        $(".select2").on("change", function (e) {
            $(e.currentTarget).focus().blur();
        })


        $("#formSave").validate({
            rules: {
                Id: { required: true, Test2: 5 }
                , Status: { required: true }
                , Sex: { required: true }
                , Account: { required: true }
                , Password: { required: true }
                , PasswordConfirm: { required: true }
                , DepartmentId: { required: true }
                , RoleId: { required: true }
                , Birth: { required: true }
                , Descr: { required: true }
            }
        });
    })
</script>